PORT=8080
MONGODB_URI=
SECRET_KEY_ACCESS_TOKEN=
SECRET_KEY_REFRESH_TOKEN=
REDIS_URL=redis://127.0.0.1:6379
REDIS_KEY_PREFIX=scanmymeal
FRONTEND_URL=http://localhost:3000
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_CLOUD_APIKEY=
CLOUDINARY_CLOUD_APISECRET=
STRIPE_SECRET_KEY=
STRIPE_ENDPOINT_WEBHOOK_SECRET_KEY=
NODEMAILER_App_id=
NODEMAILER_App_Pass=
